/* 
GENERAL 
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


/* 
HEADER 
*/

header .logo{
  margin: 10px 20px;
  vertical-align: middle;
}

header .title{
  font-size: 45px;
  vertical-align: middle;
}


/* 
MAIN 
*/

.container{
  background-color: #F6F8F9;
  padding: 30px;
}

main .task, .bottoni{
  padding: 5px 50px;
  margin: auto;
  margin-top: 3px;
  margin-bottom: px;
  width: 70%;
  background-color: white;
  border-radius: 5px;
}

main {
  margin: auto;
  padding: 10px 50px;
  background-color: white;
}

main div{
  margin: 10px;
  margin-top: 30px
}

main div .add-task{
  background-color: #47ADF1;
  color: white;
  width: 80px;
  height: 35px;
  padding: 5px;
  border-radius: 7px;
  font-size: 13px;
  border-color: #47ADF1;
  border-style: solid;
}

main div .add-section{
  background-color: white;
  color: grey;
  width: 100px;
  height: 35px;
  padding: 5px;
  border-radius: 7px;
  font-size: 13px;
  border-style: solid;
}

main div p, main div h2{
  margin-bottom: 20px;
}



ul li {
  list-style-type: none; /* Remove bullets */
  padding-bottom: 25px; /* Remove padding */
  font-size: 20px;
}


/* status task */

.status-task{
  padding: 5px;
  margin-top: 2px;
  margin-right: 5px;
  border-radius: 40%;
}

.status-task-cancelled{
  color: red;
  border: 1px solid red;
  border-radius: 50%
}

.status-task-done{
  color: green;
  border: 1px solid green;
  border-radius: 50%
}


/* category */

.category{
  border-radius: 20px;
  padding: 8px;
  border: 1px solid;
  color: white;
  font-size: 14px;
}

.category-editorial{
  background-color: #45ABEA;
}

.category-Q1-goals{
  background-color: #9C72E4;
}

.category-recruiting{
  background-color: #64C0A9;
}

.category-mobile{
  background-color: #F29E32;
}

.category-website{
  background-color: #D863A1;
}

.category-sales{
  background-color: #B0C926;
}


